
<div class="h-50">
    <section class="jumbotron notFound text-center bg-secondary h-50">
        <div class="img">
        <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
        </div>
        <div class="text-center mt-4">
        <h1>404 PAGE NOT FOUND</h1>
        <h3 class='mt-3'>BACK TO HOMEPAGE?</h3>
        <a href="/" class="yes text-info">YES</a>
        <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo" class="text-info">NO</a>
        </div>
    </section>
</div>