<div class="jumbotron shadow bg-light m-5 p-2">
  <div class="pt-4 text-center mt-3">
      <h2>Welcome {{name}}!</h2>
  </div>
  <div class="d-flex justify-content-center card-body mb-4">
    <form class='w-50'>
      <div class="form-group w-50">
        <label for="exampleFormControlInput1" name="title" id="title" >Blog Title</label>
        <input type="email" class="form-control shadow-sm" id="exampleFormControlInput1" placeholder="Blog Title">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Blog Content</label>
        <textarea class="form-control shadow-sm" id="exampleFormControlTextarea1" name="content" id="content" placeholder="Content" rows="3"></textarea>
        <button type="button" class="btn btn-info float-right mt-3">Create Post</button>
      </div>
    </form>
  </div>
</div>